---
name: Test

on: [push, pull_request]  # yamllint disable-line rule:truthy

permissions:
    contents: read

jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: ['3.10', '3.11', '3.12']
        steps:
            - uses: actions/checkout@v4
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v5
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Set up uv
              uses: astral-sh/setup-uv@v6
              with:
                  enable-cache: true
            - name: Install dependencies
              run: |
                  uv sync --extra docs --extra tests
            - name: Run tests
              run: |
                  uv run pytest
                  uv run mkdocs build -f docs/mkdocs.yml
                  uv run mccc
